APP_NAME=MediFlow
DEBUG=true

OCI_CONFIG_PATH=~/.oci/config
OCI_CONFIG_PROFILE=DEFAULT
OCI_NAMESPACE=tu_namespace_aqui
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..tu_compartment_aqui
OCI_REGION=sa-saopaulo-1

BUCKET_RECIBIDOS=mediflow-recibidos
BUCKET_PROCESADOS=mediflow-procesados
BUCKET_AUDITORIA=mediflow-auditoria

LLM_PROVIDER=gemini
LLM_API_KEY=tu_api_key_aqui

UMBRAL_CONFIANZA_MINIMO=0.75
